{include file="weixin/header.html"}

<header>
	<h3 class="title">订单状态</h3>
    <a class="return" href="/weixin/index.php"></a>
</header>

{if $order['status'] == DB_Order::STATUS_NORMAL}<!-- 等待接单 -->
	{include file="weixin/block/order/status_wait.html"}
{else if $order['status'] == DB_Order::STATUS_REFUSE} <!-- 订单被拒 -->
	{include file="weixin/block/order/status_refuse.html"}
{else if $order['status'] == DB_Order::STATUS_ACCEPT}<!-- 订单被接受 -->
	{include file="weixin/block/order/status_accept.html"}
{else if $order['status'] == DB_Order::STATUS_ACCEPT_ON && !$evaluation} <!-- 已上车 未评价 -->
	{include file="weixin/block/order/status_evaluate.html"}
{else if $evaluation} <!-- 已上车 已评价 -->
	{include file="weixin/block/order/status_evaluation.html"}
{/if}


{include file="weixin/block/order/status.html"}
{include file="weixin/footer.html"}

{if $order['status'] == DB_Order::STATUS_NORMAL}
<script type="text/javascript">
	setTimeout("window.location.reload();",30000);
</script>
{/if}