{include file="weixin/header.html"}

<header>
	<h3 class="title">订单状态</h3>
    <a class="return" href="/weixin/index.php"></a>
</header>

{if $order['status'] == DB_Order::STATUS_NORMAL}
	{include file="weixin/block/order/status_wait.html"}
{else if $order['status'] == DB_Order::STATUS_REFUSE}
	{include file="weixin/block/order/status_refuse.html"}
{else if $order['status'] == DB_Order::STATUS_ACCEPT}
	{include file="weixin/block/order/status_accept.html"}
{else if $order['status'] == DB_Order::STATUS_ACCEPT_ON && !$evaluation}
	{include file="weixin/block/order/status_evaluate.html"}
{else if $evaluation}
	{include file="weixin/block/order/status_evaluation.html"}
{/if}


{include file="weixin/block/order/status.html"}
{include file="weixin/footer.html"}