@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0;font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei", "黑体", "宋体";}
body{ font-size:12px; color:#333;  -webkit-text-size-adjust:none; background-color:#f5f5f5;
}
a{text-decoration: none}
a:hover{text-decoration: none}
li{list-style: none;dispaly:list-item;}
img{border: none;vertical-align: top}
input{border: medium none;vertical-align: middle}
textarea{resize:none;}
button{border: medium none;}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]{ -webkit-appearance:none; }
h1,h2,h3,h4,h5,h6,div,li,p{font-size: 100%;font-weight: normal;}
/************************ 通用清除 ************************/
.iclear{ clear:both; height:0;line-height:0;overflow:hidden;}

.clearfix:after{ content:"."; visibility:hidden; display:block; clear:both; height:0;}
.clearfix {*zoom:1;}
.fLeft{float:left; display:block; width:auto;}
.fRight{float:right; display:block; width:auto;}
.inputbtu{height:44px;margin:0 10px 10px;}
.inputbtu .btu{height:44px;line-height:44px;  text-align:center; font-size:16px; color:#fff; width:100%; background-color:#f37e00;border-radius:4px; -webkit-appearance:none; }
.tip{margin:0 10px 10px;line-height:16px; font-size:12px; color:#bbbbbb;}
/*header的样式*/
header{ overflow:hidden; height:44px; background: #007ee8;margin-bottom:11px;zoom:1; position:relative;}
header .logo{ float:left; width: 96px; height: 26px;margin:10px 0 0 15px;}
header .logo a{ background: url(../img/logo.png) no-repeat; background-size: 96px 26px; display:block;width: 96px; height: 26px;}
header .record{float:right;height:44px;border-left:1px solid #006bc5;} 
header .record a{padding:10px 10px 10px 38px; line-height:24px; width:auto; height:24px; color:#fff; font-size:14px; display:block; text-decoration:none; background:url(../img/ico.png) no-repeat 16px 15px; background-size:44px 310px;}
header .title{padding:10px 0px; line-height:24px; width:auto; height:24px; color:#fff; font-size:14px; text-align:center;}
header .return{width:45px;height:44px; display:block; position:absolute; top:0; left:0; z-index:22; background:url(../img/ico.png) no-repeat 16px -33px; background-size:44px 310px;}
/*列表通用样式*/
/*slist is for index list*/
.slist{margin:0px 10px 10px; border:1px solid #e0e0e0; border-radius:4px; background-color:#fff;}
.slist li{ list-style:none; border-bottom:1px solid #e0e0e0; overflow:hidden;padding:10px; position:relative; }
.slist li:hover{ background-color:#eaf5fe;}
.slist li:last-child {border:none;}
.slist li label{  width:auto; height:22px; line-height:22px; overflow:hidden; position:absolute;top:10px; left:10px;z-index:33; padding-left:30px; color:#333333; font-size:16px;}
.slist li label i{ display:block; position:absolute; top:1px; left:0px; height:22px; width:29px; background:url(../img/ico.png) no-repeat 6px -110px; background-size:44px 310px;}
.slist li label i.time{ background-position:-21px -110px;}
.slist li label i.num{ background-position:5px -140px;}
.slist li label i.phone{background-position:-23px -291px}

.slist li a{  height:22px; float:none; display: block; line-height:22px; overflow:hidden; position:relative; padding-right:20px; color:#b2b2b2; font-size:16px; background-color:#fff;}
.slist li a i{ display:block; position:absolute; top:6px; right:0; height:12px; width:8px; background:url(../img/ico.png) no-repeat right -140px; background-size:44px 310px;}
.slist li .fRight{border:none;height:22px; line-height:22px; text-align:right;  color:#b2b2b2;font-size:16px; }
.slist li:hover .fRight{background-color:#eaf5fe;}
.slist li .fRight.col{color:#508eff;}
/*about is   list*/
.about{margin:0px 10px 10px; border:1px solid #e0e0e0; border-radius:4px; background-color:#fff;padding:15px 10px;overflow:hidden;}
.about li{ position:relative;}
.about li i{ display:block; width:44px; height:30px; position:absolute; top:20px; left:5px; background:url(../img/ico.png) no-repeat 0 -170px; background-size:44px 310px;}
.about li i.ico2{ background-position:0 -200px;height:34px;}
.about li i.ico3{ background-position:0 -235px;height:40px;}
.about p{ line-height:18px; color:#666666; font-size:14px;padding:8px 0 8px 55px;}
.about p span{color:#f37e00;}
/*alist is for all_order name*/
.alist{margin:0px 10px 10px; border:1px solid #e0e0e0; border-left:none; border-radius:4px; background-color:#fff; overflow:hidden;}
.alist a{ display:block; position:relative;overflow:hidden;}

.alist a .state{width:20px; text-align:center;  float:left;background-color:#f37e00; font-size:10px;line-height:14px;  display:block;padding:12px 0 ; -webkit-text-size-adjust:none;  color:#fff; height:100%;}
.alist a .state_lv{ background-color:#469e0c;}
.alist a .state_hui{ background-color:#bbbbbb;}
.alist a div{margin:10px 22px 10px 28px;}
.alist a div .name{line-height:23px; font-size:14px; color:#b2b2b2;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width:auto; }
.alist a div .statep{line-height:23px; font-size:12px; color:#3f3f3f; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width:auto;}
.alist a div .statep span{margin-right:5px;}
.alist a .icon{display:block; position:absolute; top:26px; right:10px; height:12px; width:8px; background:url(../img/ico.png) no-repeat right -140px; background-size:44px 310px;}
/*dlist is for confim_order name*/
.dlist{margin:0px 10px 10px;padding:10px; border:1px solid #e0e0e0;border-radius:4px; background-color:#fff; overflow:hidden;}
.dlist dd{height:26px;overflow:hidden;}
.dlist dd label{ float:left; line-height:26px; font-size:14px; color:#333333;width:100px;}
.dlist dd span{ float:left; line-height:26px; font-size:14px; color:#333333;width:auto;}

.status{margin:0px 10px 10px;padding:10px; border:1px solid #e0e0e0;border-radius:4px; background-color:#fff; overflow:hidden;}
.status .stitle{height:30px; position:relative;line-height:30px; font-size:15px; font-weight:bold; color:#4c4c4c;padding-left:26px;margin-bottom:5px;}
.status .stitle .icon{ width:20px; height:20px; display:block; position:absolute; top:5px; left:0;  background:url(../img/ico.png) no-repeat left -90px; background-size:44px 310px;}
.status .stitle .icon.icon_undone{ background-position:left -275px; height:21px;}
.status .stitle  a{height:20px; line-height:20px; display:inline-black; padding-left:16px; background:url(../img/ico.png) no-repeat -32px -85px; background-size:44px 310px; text-decoration:none; color:#007ee8; font-size:14px; position:absolute; right:0px; top:5px; }
.status .os_p{line-height:18px; font-size:14px; color:#666666;margin-bottom:10px;}
.status .os_p span{color:#f4871a; font-weight:bold;}
.status .os_p a{ color:#007ee8; font-size:12px; text-decoration:none; font-weight:bold;}
.status .tit_p{line-height:18px; font-size:13px; color:#666666; font-weight:bold;}
.status .osp_p{line-height:18px; font-size:14px; color:#666666;}
.status .osp_p span{padding:0 5px;}
.status1{margin:0px 10px 10px; border:1px solid #e0e0e0;border-radius:4px; background-color:#fff; overflow:hidden;}
.status1 .statusDiv{padding:10px;border-bottom:1px solid #e0e0e0;}
.status1 .statusDiv:last-child {border:none;}
.status1 .statusDiv .title{height:30px; position:relative;line-height:30px; font-size:14px; font-weight:bold; color:#4c4c4c;margin-bottom:5px;}
.status1 .statusDiv .title  a{height:20px; line-height:20px; display:inline-black; padding-left:16px; background:url(../img/ico.png) no-repeat -32px -85px; background-size:44px 310px; text-decoration:none; color:#007ee8; font-size:14px; position:absolute; right:0px; top:5px; }
.status1 .statusDiv .statusUl1{overflow:hidden; width:100%;margin-bottom:4px;}
.status1 .statusDiv .statusUl1 li{ float:left; width:50%;height:18px; font-size:12px; color:#8c8c8c;}
.status1 .statusDiv .statusUl1 li span{ font-weight:bold;}
.status1 .statusDiv .statusUl1 li label{ font-weight:bold; color:#f37e00;}
.status1 .statusDiv .statusUl2 li{ float:none;} 
.status1 .statusDiv .statusUl3 li {margin-bottom:10px;}
.status1 .statusDiv .statusUl3 li p.time{line-height:18px; font-size:14px; color:#666666; }
.status1 .statusDiv .statusUl3 li p.time span{margin-right:5px;}
.status1 .statusDiv .statusUl3 li .sta{width:100%;overflow:hidden;} 
.status1 .statusDiv .statusUl3 li .sta label{ float:left;line-height:18px; font-size:14px; color:#666666; width:42px; }
.status1 .statusDiv .statusUl3 li .sta p{ float:left;line-height:18px; font-size:14px; color:#666666; width:218px; }
.status1 .statusDiv .statusUl3 li .sta p span{ font-weight:bold; padding-left:5px;overflow:hidden;}


.sphone{margin:0px 10px 10px;}
.sphone .sp_tit{height:20px; line-height:20px; font-size:14px; color:#666;}
.sphone .spcz,.sphone .q_phone{line-height:20px;font-size:14px;}
.sphone .spcz a{margin-right:10px; font-size:14px; color:#007ee8; text-decoration:underline; display:inline-block; line-height:20px;}
.sphone .spcz a:hover{ text-decoration:none;}
.sphone .q_phone a{line-height:20px; padding:0 10px; display:block; text-decoration:underline;font-size:14px; color:#007ee8;}
.sphone .q_phone a:hover{ text-decoration:none;}

.geton {margin:0px 10px 10px;border-radius:4px;  overflow:hidden;}
.geton .oper{height:40px; margin-bottom:10px; overflow:hidden; width:100%;}
.geton .oper a{height:38px; line-height:38px; text-align:center; font-size:16px; font-weight:bold; color:#fff; display:block; width:47%;}
.geton .oper a.nooper{ background-color:#007ee8; float:left;border-radius:4px; border:1px solid #0166bc;}
.geton .oper a.yesoper{ background-color:#f37e00; float:right;border-radius:4px; border:1px solid #d16c00;}
.geton .evaluate{ border:1px solid #e0e0e0; background-color:#fff;  position:relative;padding:10px;}
.geton .evaluate i.right{ position:absolute;width:16px; height:9px; display:block; top:-8px; right:65px; z-index:33; background:url(../img/icos.png) no-repeat; background-size:16px 8px;}
.geton .evaluate i.left{position:absolute;width:16px; height:9px; display:block; top:-8px; left:65px; z-index:33; background:url(../img/icos.png) no-repeat; background-size:16px 8px;}
.geton .sp_tit{height:28px; line-height:28px; font-size:14px; color:#666;}
.geton .spcz{line-height:24px;font-size:14px;}
.geton .spcz a{margin-right:10px; font-size:14px; color:#007ee8; display:block; line-height:24px;}
.geton .spcz a:hover{ text-decoration:underline;}

.evaluate .appraise .applist{height:22px;padding:5px 0; overflow:hidden;}
.appraise .applist span{ display:block; float:left; margin-right:15px; height:22px; line-height:22px; font-size:13px; font-weight:bold; color:#666;}
.appraise .applist ul{ float:left; overflow:hidden; width:auto; display:inline-block;}
.appraise .applist ul li { float:left; width:23px; height:22px;margin-right:5px;}
.appraise .applist ul li a{ display:block; float:left; width:23px; height:22px; background:url(../img/iso1.png) no-repeat 0 -28px; background-size:25px 75px; }
.appraise .applist ul li a.star{ background-position:0 0;}
.evaluate .appraise p{ line-height:20px; font-size:14px; color:#8c8c8c;padding:10px 0;}
.evaluate .appraise .app_textarea{ border:1px solid #e0e0e0; width:96%;height:68px;padding:5px; margin-bottom:10px;}

.evaluate .submit{ height:40px; text-align:center;margin-bottom:5px;}
.evaluate .submit input{height:38px; line-height:38px; text-align:center; font-size:16px; font-weight:bold; color:#fff; display:block; width:60%;background-color:#f37e00; border-radius:4px; border:1px solid #d16c00; margin:0 auto 0;}
.evaluate.radius{border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
.geton .title{border:1px solid #e0e0e0; border-bottom:none; background-color:#fff;padding:0 10px; font-size:14px; color:#333; font-weight:bold; overflow:hidden;height:44px; line-height:44px;border-top-right-radius:4px;border-top-left-radius:4px;}

.achieve{margin:0px 10px 10px;border-radius:4px;  overflow:hidden;border:1px solid #e0e0e0;padding:10px; }
.achieve .applist{height:18px;padding:5px 0; overflow:hidden;}
.achieve .applist span{ display:block; float:left; margin-right:15px; height:18px; line-height:18px; font-size:13px; font-weight:bold; color:#666;}
.achieve .applist ul{ float:left; overflow:hidden; width:auto; display:inline-block;}
.achieve .applist ul li { float:left; width:16px; height16px;margin-right:4px;}
.achieve .applist ul li span{ display:block; float:left; width:16px; height:16px; background:url(../img/iso1.png) no-repeat 0 -60px; background-size:25px 75px; }
.achieve  p{ line-height:18px; font-size:13px; color:#8c8c8c;padding:5px 0;}


.city{margin:0px 10px 10px;border-radius:4px;  overflow:hidden;border:1px solid #e0e0e0; background-color:#fff;}
.city .citylist{padding:10px ;border-bottom:1px solid #e0e0e0;}
.city .citylist:last-child {border:none;}
.city .citylist h3{height:24px; line-height:24px; font-size:15px; color:#333; font-weight:bold;margin-bottom:3px;}
.city .citylist .cong{overflow:hidden;}
.city .citylist .cong a{ display:block;height:22px; line-height:22px; font-size:14px; color:#3f9eee;}
.city .citylist ul{overflow:hidden; zoom:1;}
.city .citylist ul li{height:22px;margin-right:40px; float:left; display:inline-block; width:auto;}
.city .citylist ul li a{ float:left;display:inline-block; width:auto;height:22px; line-height:22px; font-size:14px; color:#3f9eee;}

.layer{width:240px;margin:0 auto; background-color:#fff; overflow:hidden;}
.layer .title{height:42px; line-height:42px; position:relative; color:#333; font-size:15px; text-align:center;border-bottom:1px solid #e0e0e0; font-weight:800;}
.layer .title span{ cursor:pointer; display:block; width:18px; height:18px; background:url(../img/gb_bg.png) no-repeat; background-size:16px 16px; position:absolute; top:12px; right:12px;}
.layer .layer_con{overflow:hidden;}
.layer .layer_con li{ width:240px; height:42px; float:left;border-bottom:1px solid #e0e0e0;}
.layer .layer_con li:last-child {border:none;}
.layer .layer_con li a{height:42px; line-height:42px; color:#bcbcbc; font-size:15px; text-align:center; display:block;}
.layer .layer_con li a:hover{ background-color:#eeeeee;}
.layer_in{max-width:220px;min-width:298px;margin:0 auto; background-color:#fff;padding:10px 0; overflow:hidden; border-radius:3px; border:1px solid #e0e0e0;position: fixed; top:10px; right:10px ; z-index: 33}
.layer_in span{ display: block;height:22px;line-height:22px; text-align:center; font-size:14px;padding:0 10px; color:#333;}
.layer_in span:hover{background-color:#eaf5fe;color:#3f9eee;};