{include file="weixin/header.html"}
<header>
	<h3 class="title">选择目的地</h3>
    <a class="return" href="javascript:history.go(-1);"></a>
</header>
<section class="city">
{if $pastRoutes}
	<div class="citylist">
    	<h3>以前打过车的线路:</h3>
        <div class="cong">
        	{foreach $pastRoutes as $route}
        		<a href="/weixin/index.php?departure={$route['departure']}&destination={$route['destination']}">从 {$route['departure_name']} 到 {$route['destination_name']}</a>
        	{/foreach}
        </div>
    </div>
{/if}
    <div  class="citylist">
    	{foreach $departures as $location}
    		{if !$location['is_de'] && !$location['sub_is_de']}
    			{continue}
    		{/if}
    		<h3>【{$location['name']}】</h3>
    		<ul>
    		{if $location['is_de']}
    			<li><a href="/weixin/index.php?departure={$location['id']}&destination=0">{$location['name']}</a></li>
    		{/if}
    		
    		{foreach $location['sub'] as $subLocation}
    			{if $subLocation['sub_is_de']}
    			<li><a href="?parent_id={$subLocation['id']}">{$subLocation['name']}</a></li>
    			{else if $subLocation['is_de']}
    			<li><a href="/weixin/index.php?departure={$subLocation['id']}&destination=0">{$subLocation['name']}</a></li>
    			{/if}
    		{/foreach}
    		</ul>
    	{/foreach}
    </div>
</section>
<p  class="tip">小助手是一个免费的厦漳泉跨县市打车平台，致力于提供方便快捷，有乘车保障的打车服务</p>
{include file="weixin/footer.html"}